body {
  background: #3f3f3f;
  color: white;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

button {
  background-color: #5f5f5f;
  border: none;
  margin: .5em 2em;
  padding: 1em 2em;
  color: white;
  cursor: pointer;
}

h3 {
  margin: 1em 2em;
}

h4 {
  margin: .5em 0;
}

.logs {
  position: fixed;
  top: 1em;
  right: 2em;
}

.logs-text {
  max-height: 15em;
  width: 25em;
  overflow-y: auto;
  overflow-x: hidden;
}

.logs-text-presentation {
  max-height: 5em;
}
